* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --h1-size: 20px;
    --p-size: 14px;
    --span-size: 16px;
}

@media (min-width: 1920px) {
    :root {
        --h1-size: 42px;
        --span-size: 18px;
    }
}

body {
    background: #050505;
    color: #ffffff;
    font-family: "Raleway", -apple-system, sans-serif;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

@media (min-width: 768px) {
    h1 {
        font-size: 26px;
    }
}

@media (min-width: 1280px) {
    h1 {
        font-size: 42px;
    }
}

h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
}

p {
    font-size: 14px;
    line-height: 1.2;
}

p+h2 {
    margin-top: 9px;
}

@media (min-width: 768px) {
    p+h2 {
        margin-top: 12px;
    }
}

span {
    font-size: clamp(16px, 5vw, 18px);
    color: var(--text);
    line-height: 1.2;
    display: block;
}