/* ----- Accessibility Utilities ----- */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


/* ----- Layout ----- */

.case-study {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.container {
    max-width: 1280px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 74px;
}

@media (min-width: 768px) {
    .container {
        padding: 0 24px;
        padding-top: 100px !important;
        gap: 140px;
    }
}

.case-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    text-align: start;
}

@media (min-width: 1280px) {
    .case-section {
        gap: 80px;
    }
}

.case-section__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 1280px) {
    .case-section__header {
        gap: 28px;
    }
}

/* ----- Content block ----- */

.case-section__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: start;
    max-width: 456px;
}

@media (min-width: 768px) {
    .case-section__content {
        gap: 16px;
    }
}

/* ----- Media (image) block ----- */

.case-section__media {
    position: relative;
    order: -1;
    width: clamp(270px, 175.4px + 22.08vw, 600px);
}

.case-section__image {
    width: 100%;
    height: auto;
    display: block;
}


/* ----- Buttons ----- */

.btn {
    display: inline-block;
    width: fit-content;
    padding: 14px 18px;
    margin-top: 8px;
    background-color: #ED5026;
    color: #ffffff;
    font-family: 'Comfortaa', -apple-system, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
}

@media (min-width: 768px) {
    .btn {
        margin-top: 4px;
        padding: 10px 18px;
    }
}

@media (min-width: 1280px) {
    .btn {
        margin-top: 12px;
    }
}

@media (max-width: 480px) {
    .btn {
        display: block;
        width: 100%;
    }
}


.btn:hover {
    transform: scale(1.1);
}

.btn--outline {
    border: 1px solid #ED5026;
    background-color: transparent;
    margin-top: 0px;
}


/* ----- Decorative elements ----- */

.case-section__decor {
    width: 243px;
    height: auto;
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.case-section__decor--laptop {
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.case-section__decor--cross {
    top: 50%;
    right: 85%;
    transform: translate(50%, -50%);
}

.case-section__decor--overview {
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    .case-section__decor {
        width: clamp(365px, 13.6px + 29.87vw, 588px);
    }

    .case-section__decor--laptop {
        left: auto;

        right: -20%;
        top: 50%;
        transform: translateY(-50%);
    }

    .case-section__decor--cross {
        right: auto;
        left: -15%;
        top: 50%;
        transform: translateY(-50%);
    }

    .case-section__decor--overview {
        left: -10%;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* ----- ≥ 768px (tablet / desktop) ----- */

@media (min-width: 768px) {

    .case-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: clamp(40px, 5vw, 80px);
    }

    .case-section--reverse {
        flex-direction: row-reverse;
    }

    .case-section--first {
        justify-content: space-between;
        gap: 0;
    }

    .case-section--top {
        align-items: flex-start;
    }

    .case-section__content {
        flex: 1;
        max-width: 456px;
    }

    .case-section__header {
        flex: 1;
        width: 480px;
    }

    .case-section__media {
        flex: 1;
        flex-shrink: 0;
        max-width: 600px;
        order: 0;
    }

    .case-section--spaced {
        margin-top: clamp(10px, 5vw, 55px);
    }


}